.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 502px;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #2196F3;
    color: #FFFFFF;
    margin-bottom: 50px;
}